body {
    margin:0px;
    height: 800px;
    font-family: arial;
    box-sizing: border-box;
    background-repeat: no-repeat;
background: #7d7e7d;
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */



}
h1,label{
    color:white;


}
label{
    font-size: 24px
}
#button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color:#6DCFF6
}
*:focus{
    background-color: #6DCFF6
}

ul {
    display: inline-block;
    list-style-type: none;
    background-color: lightgrey;
    border-radius: 8px;
}
li{
    margin-top: 5px;
}

button {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 8px;

}

button:hover {
    border: 1px inset red;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    animation-duration: 1s;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


